<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HomePage</title>
</head>

<body>
    {{>header}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div class="container">
        {{!-- <script type="text/x-handlebars-template" id="myTempId"> --}}
        <h1>Home</h1>
        <p>{{data}}</p>
        {{#each array}}
        <div>
            <h1> {{title}} </h1>
            <span id="vis"> {{trimString post}}</span>
            <span style="display: hidden;" id="hidden"> {{ post }} </span>
            <a style="cursor: pointer;" id="buttonId">Read More...</a>
        </div>
        {{/each}}
        {{!-- </script> --}}

    </div>

    {{>footer}}

    <script src="/js/script.js"></script>

</body>

</html>


{{!-- const vis = document.getElementById("vis");
                    const hidden = document.getElementById("hidden");
                    vis.style.display = "none";
                    hidden.style.display = "";
                    e.innerText = "Read Less";
                    return false; --}}