<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Compose</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{post}}</p>
    </div>
    {{>footer}}

</body>

</html>